@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Roboto&display=swap');
:root{
    /* Color Scheme 1 */
    /* --light-shade: #fbfafa;
    --light-accent: #828081;
    --main-color: #7ca6ba;
    --dark-accent: #3cc47c;
    --dark-shade: #1e392a;
    --dark-bg: #101f16; */

    --light-shade: #fbfafa;
    --light-accent: #828081;
    --main-color: #7ca6ba;
    --dark-accent: #3cc47c;
    --dark-shade: #1e392a;
    --dark-bg: #101f16;

}
body, html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color:var(--dark-shade);
}

footer{
    background-color:var(--dark-shade);
    color: var(--light-shade);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-shade);
}

.section{
    padding: 20px;
    background-color:var(--light-shade);
    color: var(--dark-shade);
    margin: 0;
}

.section-2{
    padding: 20px;
    background-color:var(--dark-shade);
    color: var(--light-shade);
    margin: 0;
}

.section-2 .title{
    color: var(--light-shade);
}

.section-2 .subtitle{
    color: var(--light-accent);
}

.title, .subtitle{
    color: var(--dark-shade);
    letter-spacing: 2.5px;
}
.title{
    text-transform: uppercase;
}

.subtitle{
    text-transform: capitalize;
    align-self: center;
}

p, li{
    line-height: 1.6;
    letter-spacing: 2px;
}

.subsection-li{
    background-color:var(--main-color);
    color: var(--dark-bg);
    padding: 20px;
    list-style: none;
    margin: 10px;
    border-radius: 8px;
}

.subsection-li-2{
    background-color: var(--dark-bg);
    color: var(--main-color);
}



.subsection-1, .subsection-2, .subsection-3, .subsection-4, .subsection-5{
    padding: 20px;
    margin: 25px 0;
    width: 100%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.subsection-1{
    background-color:var(--dark-accent);
    color: var(--light-shade);
}


.subsection-2{
    background-color: var(--dark-shade);
    color:var(--light-shade);
}

.subsection-2 .subtitle{
    color: var(--light-shade);
}

.subsection-3{
    background-color: var(--light-accent);
}


.subsection-4{
    background-color: var(--light-shade);
    color: var(--dark-bg);
}

.subsection-4 .subtitle{
    color: var(--dark-bg);
}


.subsection-5{
    background-color: var(--dark-bg);
    color: var(--light-shade);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subsection-5 .subtitle{
    color: var(--main-color);
}

.card-body{
    background-color:var(--dark-shade);
    color: var(--main-color);
}
/************************************** Hero Section Styles*************************************************/
.hero-section{
    color: var(--main-color);
    background-color: var(--dark-shade);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.hero-section{
    background: linear-gradient(70deg, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 30%), url('/assets/bg2.jpg');
    background-size: cover;

}


.hero-greeting{
    position: absolute;
    padding: 20px;
    border-radius: 8px;
    left: 100px;
    text-transform: uppercase;
}

.hero-greeting h1{
    font-size: 2.5rem;
    letter-spacing: 5px;
}

.hero-greeting h2{
    font-size: 2rem;
}

.badge{
    background-color: var(--main-color);
    color:var(--dark-bg);
}