@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Roboto&display=swap');

:root{
    /* Color Scheme 1 */
    --light-bg:#f1fcfc;
    --light-shade: #f8f8f8;
    --light-accent: #cdcdcd;
    --main-color-light: #6c94df;
    --main-color: #3656d7;
    --main-color-dark: #0428b9;
    --dark-accent: #494949;
    --dark-shade: #212121;
    --dark-bg: #0f0f0f; 

    --primary: #3656d7;
    --info: #212121;
    --success: #7cdc76;
    --warning: #faac3e;
    --danger: #f44336;
    
    --grd-bg-1: linear-gradient(to bottom, #212121, #2c2a3f, #34345f, #393e81, #3b48a5, #345ebe, #2674d5, #008bec, #31adef, #73caee, #b2e5f0, #f1fcfc);
    
    --grd-bg-2: linear-gradient(to top, #212121, #2c2a3f, #34345f, #393e81, #3b48a5, #345ebe, #2674d5, #008bec, #31adef, #73caee, #b2e5f0, #f1fcfc);
    
    --grd-bg-3: linear-gradient(to left top, #212121, #2c2a3f, #34345f, #393e81, #3b48a5, #345ebe, #2674d5, #008bec, #31adef, #73caee, #b2e5f0, #f1fcfc);

    --grd-bg-4: linear-gradient(to right top, #212121, #2c2a3f, #34345f, #393e81, #3b48a5, #345ebe, #2674d5, #008bec, #31adef, #73caee, #b2e5f0, #f1fcfc);


    --split-bg:linear-gradient(110deg, #212121 60%, #6c94df 60%);

    --split-bg2:linear-gradient(110deg, #6c94df 60%, #212121 60%);

    /* --light-shade: #f8fafa;
    --light-accent: #cdcdcd;
    --main-color: #eddbcd;
    --main-color-dark: #b9aca1;
    --dark-accent: #c06014;
    --dark-accent-light: #fa9848;
    --dark-shade: #272626;
    --dark-bg: #000000;

    --primary: #eddbcd;
    --info: #000000;
    --success: #7cdc76;
    --warning: #faac3e;
    --danger: #f44336; */

}

body, html{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-size: 16pt;
}

body{
    background-color: var(--dark-shade);
    color:var(--light-shade) ;
}

body, input, select, textarea {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2.375;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.075em;
    margin: 0 0 1rem 0;
}


h1 {
    font-size: 4rem;
    line-height: 1.1;
    margin: 0 0 2rem 0;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.3;
    margin: 0 0 1.5rem 0;
}

h3 {
    font-size: 1.25rem;
    margin: 0 0 1.5rem 0;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 0.8rem;
}

strong, b {
    font-weight: 600;
}

em, i {
    font-style: italic;
}




p {
    margin: 0 0 .1rem 0;
}

/* Text Alignment */
.txt-block{
    text-align: justify;
}

.txt-cntr{
    text-align: center;
}

.txt-left{
    text-align: left;
}

.txt-right{
    text-align: right;
}

/* Default Font Colors */

.dark-font{
    color: var(--dark-bg);
}

.dark-font-alt{
    color: var(--main-color-dark);
}

.light-font{
    color: var(--light-bg);
}

.light-font-alt{
    color: var(--main-color-light);
}




/*  Default Image Sizes */
.small-img{
    width: 250px;
}

.med-img{
    width: 500px;
}


.lg-img{
    width: 1000px;
}

.btn-main{
    background-color: var(--main-color);
    color: var(--light-shade);
    font-family: 'Roboto';
    border: none;
    letter-spacing: 2px;
    text-decoration: none;
    border-radius: 5px;
}
.btn-main:hover{
    background-color: var(--main-color-light);
    color: var(--light-shade);
    text-decoration: none;
}

.btn-secondary{
    background-color: transparent;
    color: var(--main-color);
    font-family: 'Roboto';
    border: solid 1.5px var(--main-color);
    letter-spacing: 2px;
    text-decoration: none;
    border-radius: 5px;
}
.btn-secondary:hover{
    background-color: none;
    color: var(--main-color-light);
    border: solid 1.5px var(--main-color-light);
    text-decoration: none;
}
.btn-regular{
    background-color: none;
    color: var(--light-bg);
    font-family: 'Roboto';
    font-weight: bolder;
    border: solid 1.5px var(--light-bg);
    border-radius: 5px;
    letter-spacing: 2px;
    text-decoration: none;
}
.btn-regular:hover{
    background-color: none;
    color: var(--dark-accent);
    border: solid 1.5px var(--dark-accent);
    text-decoration: none;
}
.btn-lite{
    background-color: none;
    color: var(--light-shade);
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: bolder;
    border: solid 1.5px var(--light-shade);
    padding: 10px;
    letter-spacing: 2px;
    text-decoration: none;
}
.btn-lite:hover{
    background-color: none;
    color: var(--main-color-light);
    border: solid 1.5px var(--main-color-light);
    text-decoration: none;
}
.btn-lite2{
    background-color: var(--dark-accent-light);
    color: var(--light-shade);
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: bolder;
    font-size: larger;
    border: solid 1.5px var(--light-shade);
    padding: 10px;
    letter-spacing: 2px;
    text-decoration: none;
}
.btn-lite2:hover{
    background-color: var(--dark-accent-light);
    color: var(--dark-accent);
    border: solid 1.5px var(--dark-accent);
    text-decoration: none;
}

.btn-sm{
    font-size: small;
    padding: 5px;
}
.btn-md{
    font-size: medium;
    padding: 1px 15px;
}




.icons-sm{
    font-size: 1rem;
}

.icons-md{
    font-size: 1.25rem;
}

.icons-lg{
    font-size: 2rem;
}

.icons-md:hover{
    color: var(--main-color-light);
}

.header-lighter{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containers{
    background-color: var(--dark-shade);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 99vh;
    width: 100%;
}

.message-container{
    padding: 20px;
    text-align: center;
    background-color: var(--dark-shade);
    color: var(--light-bg);
}

.socials-bar, header h4{
    padding: 0 10px;
    margin: 0 10px;
}

.socials-bar a{
    margin: 0 5px;
}


/* Not Found page styles */
main{
    background: #ffffff no-repeat center/50% url('/assets/undraw_Page_not_found_re_e9o6.png');
    color: var(--dark-bg);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.notFound{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 8.5em;
}

.notFound-header{
    background-color: var(--dark-shade);
    height: 5vw;
}
.notFound footer{
    background-color: var(--dark-shade);
    height: 5vw;
}
